.face.crying { --eye-color: #33ccff; }
.face.crying .eye {
    height: 60px; width: 110px; border-radius: 40% 40% 50% 50%; transform: translateY(20px);
}
.face.crying .eye::before {
    width: 18px; height: 18px; animation: tears 1.2s infinite linear;
}
.face.crying .right .eye::before { animation-delay: 0.6s; }

@keyframes tears { 
    0% {top:50%; opacity:1; transform:scale(0.5);} 
    100% {top:160%; opacity:0; transform:scale(1);} 
}