.face.disappointed { --eye-color: #607d8b; transform: translateY(80px); }
.face.disappointed .eye {
    height: 70px; width: 100px; border-radius: 20px 20px 50% 50%; 
    opacity: 0.5; box-shadow: none; border: 2px solid rgba(255,255,255,0.1); 
}